.gym-profile {
  .row {
    margin-bottom: 15px;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 5px; 
  }
  .main-img img,
  .sup-img img{
    border: 1px solid #ccc;
    width: 100%;
  }
  .main-img img {
    height: 200px;
  }
  .sup-img img{
    height: 100px;
    margin-bottom: 15px;
  }
  .info-container {
    span {
      color: #666;
      font-size: 1.05em;
      line-height: 20px;
    }
    .address-container {
      > span {
        display: block;
      }
    }
    .day-label {
      font-weight: bold;
      margin-top: 5px;
      display: block;
    }
  }
}