.add-gym.pages {
	label {
		margin-bottom: 5px;
	}
	button {
		padding: 10px 30px;
		float: right;
		margin-top: 20px;
	}
	.hours {
		.hours-day-label {
			font-size: 1em;
			text-align: center;
			margin-bottom: 7px;
			font-weight: bold;
		}
		label {
			font-weight: 100;
			font-size: 1em;
			font-family: default_regular;
			text-align: center;
			display: block;
		}
		.form-group {
			padding: 0 7px;
		}
	}
}