@import '../../less/app.less';

body, #container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

.pages {
  position: fixed;
  top: 100px;
  left: @appNavWidth;
  transition: all 0.2s ease;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 50px;
  &.login {
    left: 0;
  }
  .page {
    max-width: 100%;
  }
}

