.class-profile {
  .header-btns {
    display: inline-block;
    text-align: right;
    button {

    }    
  }
  .table-wrapper {
    float: none;
  }
  .msg-box.row {
    margin: 0 15px;
    .response-msg {
      margin-top: 0;
      margin-bottom: 30px;
    }
  } 
}