.pages.gyms {
	.row {
		margin-bottom: 15px;
	}
	h2 {
		font-size: 22px;
		margin: 0 0 5px; 
	}
 	.main-img,
 	.sup-img {
 		border: 1px solid #666;
 	}
 	.main-img {
 		height: 200px;
 	}
 	.sup-img {
 		height: 100px;
 		margin-bottom: 10px;
 	}
}