@import './bootstrap-3.3.5/less/bootstrap.less';
@import '~font-awesome/less/font-awesome.less';
@import '~bootstrap-social/bootstrap-social.less';

@import './reset.less';
@import './fonts.less';
@import './text.less';
@import './color.less';
@import './forms.less';
@import './tabs.less';
@import './tables.less';
@import './icons.less';
html{
	font-size: 14px;
}
body {
	font-family: "default_regular";
	color: #222;
}
h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.6em;
}
button {
	outline-width: 0;
	position: relative;
}

.pages {
	max-width: 1100px;
	margin: 0 auto;
}

.navbar-brand img {
	display: inline-block;
	height: 26px;
}

.header {
	.header-btns {
		text-align: right;
		.btn:nth-child(2) {
			margin-left: 20px;
		}
	}
}