.icon-logo {
  width: 76px;
  height: 59px;
  margin: 0 20px;
  background: url('../images/logo_word.png');
  &.salmon {
    background: url('../images/logo_word_salmon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}