.table-wrapper {
	.table-header {
		margin-bottom: 25px;
		.btn {
			margin: 0;
			float: right;
			background-color: #999;
			&:hover {
				background-color: @salmon;
				color: #fff;
			}
			&:active {
				background-color: @salmon;
				color: #fff;
				&:focus {
					background-color: @salmon;
					color: #fff;
				}
			}
		}
	}
	.table-filter-container {
		margin-bottom: 20px;
		> div > div {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
		.Select,
		input {
			width: 32%;
			float: left;
		}
		.Select .Select-control,
		input {
			height: 40px;
			.Select-placeholder {
				line-height: 38px;
				color: #666;
				letter-spacing: 0.5px;
				font-family: "default_bold";
			}
		}
		.Select .Select-control {
			background-color: #e6e6e6;
		}
		.Select .Select-menu-outer {
			border-radius: 0;
			border-color: #999;
			.Select-option {
				padding: 12px;
				&:last-child {
					border-radius: 0;
				}
				&.is-focused {
				  background-color: @salmon;
				  color: #fff;
				}
			}
			.Select-noresults {
				padding: 12px;
			}
		}
		.is-focused:not(.is-open) > .Select-control {
		  border-color: @salmon;
		  box-shadow: none;
		}
		.btn {
			float: right;
			margin: 0;
			margin-left: 10px;
			background-color: #e6e6e6;
			color: #333;
			padding: 10px 0;
			width: 110px;
			&:hover {
				background-color: @salmon;
				color: #fff;
			}
			&:active {
				background-color: @salmon;
				color: #fff;
				&:focus {
					background-color: @salmon;
					color: #fff;
				}
			}
		}

	}
	.table-body {
		label {
			margin-right: 10px;
			font-family: "default_regular";
		}
		input[type="search"],
		select {
			color: #444;
			height: 30px;
			padding: 0 12px;
			border-width: 2px;
			letter-spacing: .5px;
			border-radius: 0;
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: none;
			outline: none;
		}
		.select-box {
			float: left;
		}
		.search-box {
			float: right;
		}
		.form-group {
			margin: 0;
		}
		.checkbox {
			margin: 0;
			label {
				width: 20px;
				position: relative;
				padding: 0;
				margin: 0;
				display: block;
				input[type=checkbox] {
					visibility: hidden;
					&:checked + span:after {
						content: '';
						position: absolute;
						width: 12px;
						height: 7px;
						background: 0 0;
						top: 4px;
						left: 3px;
						border: 3px solid @salmon;
						border-top: none;
						border-right: none;
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}
				span {
					cursor: pointer;
					position: absolute;
					width: 20px;
					height: 20px;
					top: 0;
					border-radius: 3px;
					border: 1px solid #bcbcbc;
					&:hover::after {
						background-color: #e9e9e9;
					}
				}
			}
		}


		table {
			margin-top: 20px;
			border: 1px solid #E6E6E6;
			border-radius: 5px;
			border-collapse: initial;
			font-family: "default_regular";
			th,
			td {
				border: none;
				font-size: 1em;
				padding: 20px;
				border-bottom: 1px solid #E6E6E6;
				vertical-align: middle;
				a {
					color: @salmon;
				}
			}
			td {
				// padding: 0px 20px;
			}
			.btn {
				background-color: #E6E6E6;
				padding: 6px 20px;
				color: #333;
				font-family: "default_light";
				font-size: 1.1em;
				text-align: right;
				&:hover {
					background-color: #d6d6d6;
				}
			}
		}
		.pagination-container {
			text-align: center;
			.pagination {
			    overflow: auto;
			    margin: 0;
			    > .active > a, 
			    > .active > a:focus, 
			    > .active > a:hover, 
			    > .active > span, 
			    > .active > span:focus, 
			    > .active > span:hover {
			        z-index: 2;
			        color: #333;
			        background-color: #E6E6E6;
			        border-color: #E6E6E6;
			        cursor: default;
			    }
			}
		}
	}
	.no-results {
		display: block;
		margin: 0 auto;
		text-align: center;
		padding: 80px 0;
		font-family: "default_italic";
		color: #666;
		font-size: 1.2em;
	}
}