h1 {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
}

h3 {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

.bold {
  font-family: 'default_bold';
  -webkit-font-smoothing: antialiased;
}

.light {
  font-family: 'default_light';
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.semibold {
  font-family: 'default_bold';
  -webkit-font-smoothing: antialiased;
}
