h1 {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
}

h3 {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

p {
  margin: 0;
  font-family: 'default_regular';
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 20px;
}

.bold {
  font-family: 'default_bold';
  -webkit-font-smoothing: antialiased;
}

.light {
  font-family: 'default_light';
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.semibold {
  font-family: 'default_bold';
  -webkit-font-smoothing: antialiased;
}


.primary-link {
  color: @salmon;
  cursor: pointer;
  &:hover {
    color: @salmonDark;
  }
  &:active {
    color: @salmon;
    opacity: 0.7;
  }
  &.inactive {
    color: @charcoal;
    opacity: 0.5;
    cursor: normal;
    &:hover, &:active {
      color: @charcoal;
      opacity: 0.5;
    }
  }
}

.navigation {
  padding-bottom: 40px;
  margin-top: -3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  h3 {
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
  }
}