.nav-bar {
  top: 0px;
  bottom:0;
  position: fixed;
  left: 0;
  width: @appNavWidth;
  background-color: @navy;
  height: 100%;
  .current-user {
    height: @appHeaderHeight;
    width: 100%;
    background-color: @red;
    overflow: hidden;
    padding: 10px 20px;
    .img {
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #000;
      margin-right: 10px;
      background-size: cover;
    }
    .title-group {
      float: left;
    }
    .name {
      color: #fff;
      width: 100%;
    }
  }
  ul {
    padding: 0;
    li {
      a {
        color: @purple;
        padding: 10px @containerPadding;
        display: block;
        height: 100%;
        width: 100%;
      }
      &:hover {
        background: @sidebarHover;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}