.nav-bar {
  top: 0px;
  bottom:0;
  position: fixed;
  left: 0;
  width: @appNavWidth;
  background-color: @navy;
  height: 100%;
  .current-user {
    height: @appHeaderHeight;
    width: 100%;
    background-color: @red;
    .name {
      color: #fff;
      width: 100%;
    }
  }
  ul {
    padding: 0;
    li {
      a {
        color: @purple;
        padding: 10px @containerPadding;
        display: block;
        height: 100%;
        width: 100%;
      }
      &:hover {
        background: @sidebarHover;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}