.account-wrapper {
	.card {
		width: auto;
		height: auto;
		padding: 30px;
		max-width: 400px;
		width: 100%;
		background: #F7F7F7;
		margin-top: 35px;
	}
	button {
		min-width: 100%;
	}
	button.btn.btn-default[type=submit] {
		margin-top: 10px;
	}
	.change-gym {
		li {
			margin: 10px 0;
			border-bottom: 1px solid #ccc;
			padding: 10px 0;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			position: relative;
			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
			.actions {
				position: relative;
				min-width: 20px;
				min-height: 20px;
				.loader {
					 min-width: 25px;
				}
			}
			h4 {
				padding-bottom: 5px;
			}
		}
	}
}